<body>
  <h1>Meet My Pet {{ name() }}!</h1>

  <h2>He is {{ age() }} </h2>

  <h3>Hobbies:</h3>
  <ul>
    <li>Chasing butterflies</li>
    <li>Napping in the sun</li>
    <li>Playing fetch</li>
    <li>Chewing toys</li>
  </ul>
  <button (click) = "getRandomMood()"> Get Mood </button>
  <h3> He is  {{currentMood()}} </h3>
  <button (click)="openCardDialog()">Say Hi</button>
  <div class="list">
    To do for {{ name() }}
    <hr />
    <div *ngFor="let task of tasks(); let i = index" class="list-item">
      <div class="item-name" [class.done]="task.status">
        {{ task.item_name }}
      </div>
      <input type="checkbox" [checked]="task.status" (change)="toggleTask(i)" />
    </div>

    <input
      type="text"
      class="task-input"
      placeholder="Add a task..."
      [value]="newTaskName()"
      (input)="newTaskName.set($any($event.target).value)"
      (keyup.enter)="addTask()" />
  </div>
</body>
